In [2]:
# Importing libraires
import selenium
import pandas as pd
from selenium import webdriver

<h3> Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. </h3>

In [3]:
#connecting to the web driver
driver = webdriver.Chrome('chromedriver.exe')

#get the url
url = 'https://www.naukri.com/'
driver.get(url)

# sending input 'Data Analyst' in Job Title,Keyword,Company field
searchjob = driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')
searchjob.send_keys('Data Analyst')

# sending input 'Bangalore' in Location field
search_location = driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]')
search_location.send_keys('Bangalore')

# Clicking on search button
search_btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()

In [4]:
# Fetching the job titles
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Job_title=[]
for j in job_title:
    Job_title.append(j.text)
print(Job_title[0:10])

['Business Data Analyst - Google Data Studio & SQL', 'Business Data Analyst', 'Business Data Analyst', 'Executive Data Analyst', 'Senior Data Analyst', 'Data Analyst - I/II', 'Hiring For the role - DATA Analyst (Flipkart)', 'Hiring For the role - DATA Analyst (Flipkart)', 'Business Data Analyst - MIS & Reporting', 'Senior Data Analyst']

In [5]:
# Fetching company name
Company_name=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]/a[1]')
company_name=[]
for j in Company_name:
    company_name.append(j.text)
print(company_name[0:10])

['AVE-Promagne', 'Trigent Software', 'Trigent Software', 'Gokaldas Exports Ltd', 'Virtusa Consulting Services Pvt Ltd', 'Philips India Limited', 'Allegis Services India Pvt. Ltd.', 'Allegis Services India Pvt. Ltd.', 'INTERTRUST GROUP', 'Flipkart']

In [6]:
# Fetching job location
Job_location =driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
Job_Location=[]
for j in Job_location:
    if '(WFH during Covid)' in j.text:
        pass 
    else:    
        Job_Location.append(j.text)   
print(Job_Location[0:10])

['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(Bellandur)', 'Bangalore/Bengaluru(Bellandur)', 'Mumbai, Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [7]:
# Fetching experience required
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience=[]
for j in exp_req:
    experience.append(j.text)
print(experience[0:10])

['3-8 Yrs', '5-10 Yrs', '5-10 Yrs', '0-3 Yrs', '8-12 Yrs', '3-6 Yrs', '1-6 Yrs', '1-6 Yrs', '3-8 Yrs', '2-3 Yrs']

In [8]:
# creating dataframe
jobs=pd.DataFrame({})
jobs['Title']=Job_title[0:10]
jobs['Company']=company_name[0:10]
jobs['Experience']=experience[0:10]
jobs['Location']=Job_Location[0:10]

In [9]:
# Dataframe
jobs

,Title,Company,Experience,Location
0,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
1,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
2,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
3,Executive Data Analyst,Gokaldas Exports Ltd,0-3 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
5,Data Analyst - I/II,Philips India Limited,3-6 Yrs,Bangalore/Bengaluru
6,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,1-6 Yrs,Bangalore/Bengaluru(Bellandur)
7,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,1-6 Yrs,Bangalore/Bengaluru(Bellandur)
8,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-8 Yrs,"Mumbai, Bangalore/Bengaluru"
9,Senior Data Analyst,Flipkart,2-3 Yrs,Bangalore/Bengaluru

<h3> Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. </h3>

In [40]:
#connecting to the web driver
driver = webdriver.Chrome('chromedriver.exe')

#get the url
url = 'https://www.naukri.com/'
driver.get(url)

In [41]:
# sending input 'Data Scientist' in Job Title,Keyword,Company field
searchjob = driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')
searchjob.send_keys('Data Scientist')

# sending input 'Bangalore' in Location field
search_location = driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]')
search_location.send_keys('Bangalore')

# clicking on search button
search_btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()

In [42]:
# Fetchng urls
Job_titles_url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
urls_discriptions=[]
for i in Job_titles_url:
    urls_discriptions.append(i.get_attribute('href'))

In [50]:
# Feteching job titles
job_titles=[]
for i in urls_discriptions:
    driver.get(i)
    try:
        job_title= driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(job_title.text)
    except:
         pass

In [52]:
#scrape data for top 10 company_names
companies=[]
for i in urls_discriptions:
    driver.get(i)
    try:
        company_name= driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        companies.append(company_name.text)
    except:
        pass

In [62]:
#scrape data for top 10 company locations
job_locations=[]
for i in urls_discriptions:
    driver.get(i)
    try:
        job_location= driver.find_element_by_xpath("//div[@class='loc']//a")
        job_locations.append(job_location.text)
    except:
        pass

In [64]:
#scrape data for top 10 company descriptions
job_descriptions=[]
for i in urls_discriptions:
    driver.get(i)
    try:
        job_description= driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_descriptions.append(job_description.text)
    except:
        pass

In [66]:
#creating a dataframe by importing pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles[0:10]
jobs['Location']=job_locations
jobs['Company']=companies[0:10]
jobs['Full job description']=job_descriptions[0:10]

In [67]:
jobs

,Title,Company,Full job description
0,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,"Skills\nRequired Skills: Data Science, Machi..."
1,Data Scientist (Python & SQL),AVE-Promagne,Required Technical and Professional Expertise\...
2,Freelance Data Scientist Project Based,Shikvix,Job description:\n\nSeeking senior data scient...
3,Data Scientist,VRIZE,Profile Overview\nWe are looking for a Data Sc...
4,Data Scientist,ELPIS IT SOLUTIONS PVT LTD,Roles and Responsibilities\nJob Description:\n...
5,Data Scientist,ELPIS IT SOLUTIONS PVT LTD,Roles and Responsibilities\nJob Description:\n...
6,Senior Data Scientist - ML,SP Staffing Services Private Limited,"Dear Candidate,\n\nWarm greetings from SP Staf..."
7,"Senior Data Scientist, Payments compliance",AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED,"The Challenge\nBe a thought leader, partner wi..."
8,Senior Data Scientist,ANT work,Purpose of the position\nThe position should b...
9,Senior Data Scientist,Zycus Infotech Pvt Ltd,Main purpose of this role:\nBe a part of the E...

<h3 >Q3: In this question you have to scrape data using the filters available on the webpage as shown below:</h3>

In [75]:
#connecting to the web driver
driver = webdriver.Chrome('chromedriver.exe')

#get the url
url = 'https://www.naukri.com/'
driver.get(url)

In [76]:
# sending input 'Data Scientist' in Job Title,Keyword,Company field
search_job = driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')
search_job.send_keys('Data Scientist')

In [77]:
# clicking on search button
search_btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()

In [78]:
# clicking on location filter check box
Location_filter =driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
Location_filter.click()

In [79]:
# clicking on salary filter check box
salary_filter = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [80]:
#scraping top 10 job titles
job_title= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [81]:
#scraping top 10 job company location
job_location= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_locations=[]
for i in job_location:
    job_locations.append(i.text)

In [82]:
#scraping top 10 company names
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_names=[]
for i in company_name:
    company_names.append(i.text)

In [83]:
#scraping top 10 experience requirement in the companies
experience_reqired=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience=[]
for i in experience_reqired:
    experience.append(i.text)

In [84]:
#creating a dataframe by importing pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles[0:10]
jobs['Location']=job_locations[0:10]
jobs['Company']=company_names[0:10]
jobs['Experience']=experience[0:10]

In [85]:
# Dataframe
jobs

,Title,Location,Company,Experience
0,Data Analyst/Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Skillenable Fintech Private Limited,2-5 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist,Gurgaon/Gurugram,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
3,Data Scientist/ Machine Learning Engineer,(WFH during Covid),Creative Hands HR Consultancy,0-0 Yrs
4,Data Scientist / Data Analyst / Business Analy...,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",GABA Consultancy services,0-0 Yrs
5,Data Scientist / Data Analyst,"Noida, New Delhi, Gurgaon/Gurugram",CARS24,1-5 Yrs
6,Immediate Openings For Data Scientist For Wipr...,Gurgaon/Gurugram,IDESLABS PRIVATE LIMITED,5-10 Yrs
7,Data Scientist - WFH - MIND Infotech,Gurgaon/Gurugram,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
8,Data Scientist,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",Kusum Healthcare Pvt. Ltd.,4-6 Yrs
9,Data Scientist,Delhi / NCR(Okhla),R Systems International Ltd.,3-6 Yrs

<h3>Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. </h3>

In [88]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

#get the url
url = "https://www.glassdoor.co.in/member/home/index.htm"
driver.get(url)

In [89]:
signup=driver.find_element_by_xpath('//input[@id="userEmail"]')
signup.send_keys('sourabhjhod0101@gmail.com')

signuppass=driver.find_element_by_xpath('//input[@id="userPassword"]')
signuppass.send_keys('Jhod@1234')

signin = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
signin.click()

In [90]:
# code to write Data Scientist on skills search box
search_job = driver.find_element_by_xpath('//input[@id="sc.keyword"]')
search_job.send_keys("Data Scientist")

In [91]:
#writing Noida in the location field
search_loc=driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys("Noida")

In [92]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
search_btn.click()

In [93]:
# get all the company names
job_names = driver.find_elements_by_xpath('//a[@class="jobLink job-search-key-1rd3saf eigr9kq1"]//span')
name = []
for i in range(0,10):
    name.append(job_names[i].text)

# list the number of days ago the job was posted
ago_date = driver.find_elements_by_xpath('//div[@data-test="job-age"]')
time = []
for i in ago_date[:10]:
    time.append(i.text)

# get the rating of the companies
company_rating=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")
rating=[]
for i in range(0,10):
    rating.append(company_rating[i].text)

# creating the data frame now
jobs = pd.DataFrame({})
jobs['Company Name']=name
jobs['Job posted duration']=time
jobs['Rating']=rating
jobs

                           Company Name Job posted duration Rating
0              Associate Data Scientist                30d+    3.6
1                        Data Scientist                 13d    4.5
2                        Data Scientist                  1d    3.3
3                        Data Scientist                 13d    4.2
4  Data Science Training Head-Full Time                30d+    3.8
5                        Data Scientist                 15d    3.8
6                        Data Scientist                  9d    4.0
7               Data Science Consultant                 10d    3.4
8                        Data Scientist                30d+    3.8
9                        Data Scientist                30d+    3.2

<h3>Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.</h3>

In [104]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

#get the url
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [109]:
#writing Data Scientist in Job Title or Company field
job_title_field = driver.find_element_by_xpath("//input[@class='keyword']")
job_title_field.send_keys("Data Scientist")

In [108]:
#writing Noida in the location_field
location_field = driver.find_element_by_xpath("//*[@id='LocationSearch']")
location_field.send_keys("Noida")

In [110]:
#clicking the search button by using xpath function
search = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search.click()

In [111]:
#extract top 10 tags having job_titles
title_tags= driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company_name=[]
for i in title_tags:
    company_name.append(i.text)

In [115]:
# to extract top 10 no of salary of the company
No_of_Salary= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")[:10]
no_of_salaries=[]
for i in No_of_Salary:
    no_of_salaries.append(i.text)

[<selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="ab7c57d1-ff42-4885-a0e6-94ca1336c9a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="55168a22-9a51-46b7-b583-f992ed031518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="ad9f0e87-97e4-491c-8760-cb1954a00b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="3dccd119-42d2-4f1b-b842-1c3ffb0ae0a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="a695abcd-95b4-4812-bd53-c0b36a47780e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="403f659f-75b5-455a-86cb-4eadaec29061")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="0251690d-cd45-4d61-a7ee-12e5209abea5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="1f01077d-959e-4be3-b3c2-14866f776bb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="be753c44-9ed5-4f3f-98dc-2c6d299cc0ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="95e99c5c-8ea0-46a6-910f-2b68fe39aa61")>]

In [117]:
# to extract top 10 average salary
average_salary= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")[:10]
average_salaries=[]
for i in average_salary:
    average_salaries.append(i.text)

[<selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="85f27743-697d-44ce-9e26-2b4e3eea5152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="11105439-88a6-46d0-83aa-12ac086bc5a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="25b44087-bb9b-4592-b3fe-94060b6f7cd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="822a364a-6c29-4844-8ed9-ada9c6e2a2dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="7dc43528-a740-48fb-a3cd-c017e98512f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="8f9ee0d8-18ea-44b2-b5db-9c12aaa98cc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="61baf616-dd3c-4166-9852-e81179318955")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="354e941b-759b-4f77-86eb-672001ab8f02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="d3482fc1-0702-4bf1-9053-8029439c25ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="755adb5d-ffe5-4905-af23-dbc7823d0d83")>]

In [129]:
# to extract min and max salary by using xpath function
min_salary=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
Min_salaries=[]
for i in min_salary:
    Min_salaries.append(i.text[6:11])

Max_salaries=[]
for i in min_salary:
    Max_salaries.append(i.text[12:17])

[<selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="afb0fbc7-935b-4064-af6c-56cb2bfe7113")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="77ec2a0b-933a-4327-b646-c90fe00d5f47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="cfe225d6-1b4b-4ba3-9e32-8445b4ba33e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="3dca258c-498a-42a0-9677-7598962d1cb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="86fd2c87-4732-4e08-a8ab-7841d8dc361a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="b158fb35-0608-44d0-bf66-5b75364ce023")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="5d262ef8-462c-49c3-8303-dcc265256aaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="510d0254-98ba-4de0-baf9-9556f4ab70ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="001b88e9-4b2d-42ad-9efe-89ccd1620b30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="d0a20a02-1a2a-4b07-b49d-708728fc3c5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="aa4ec550-636e-42b9-b8cf-2398ca8797b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="75dcf4b1-a3ad-489e-943c-584e9c46cf41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="92a78eab-eb7a-4e80-9294-efcc4aad3539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="2ba68fc6-4959-4327-b69f-9f9dd325677a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="acac49f2-08b1-425d-951f-c1db402aa62b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="cc869d02-e5ea-4c09-a2e8-72d397e148dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="ccc0b628-15b3-4b7e-8c89-bdb496d86166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="051672a0-9388-4784-8f20-832fedc1f8bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="44ba6a0c-8f72-4a91-9587-9600b968f45c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="96dba7161d2511bebb75ebe34540e0e1", element="a90df963-2838-4d92-8aab-32cabba646bc")>]

In [136]:
# creating dataframe
glass_job=pd.DataFrame({})
glass_job["Company"]=company_name[0:10]
glass_job["No of Salary"]=no_of_salaries[0:10]
glass_job["Average salary"]=average_salaries[0:10]
glass_job["Mininum salary"]=Min_salaries[0:10]
glass_job["Maximum salary"]=Max_salaries[0:10]

In [137]:
glass_job

,Company,No of Salary,Average salary,Mininum salary,Maximum salary
0,Tata Consultancy Services,21 salaries,"₹6,19,349",₹4L,₹13L
1,IBM,20 salaries,"₹9,00,000",₹1L,₹28L
2,Accenture,15 salaries,"₹11,71,012",₹6L,₹22L
3,Delhivery,15 salaries,"₹12,26,283",₹5L,₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,44,116",₹4L,₹16L
5,UnitedHealth Group,14 salaries,"₹12,80,000",₹8L,₹15L
6,Optum,10 salaries,"₹13,29,677",₹8L,₹20L
7,Optum Global Solutions,10 salaries,"₹14,28,139",₹10L,- ₹17
8,Valiance Solutions,10 salaries,"₹8,69,449",₹5L,₹15L
9,EXL Service,9 salaries,"₹11,10,000",₹6L,₹15L

<h3>Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price 4. Discount % </h3>

In [86]:
# connecting web driver
driver = webdriver.Chrome("Chromedriver.exe")

#get the url
webpage = 'https://www.flipkart.com/ '
driver.get(webpage)

In [87]:
# click on cross button in login page
cross_login_button = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
cross_login_button.click()

In [88]:
# sending input 'sunglasses' on search bar 
search_option = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_option.send_keys('sunglasses')

In [89]:
# clicking on search button
search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [90]:
# fetching page urls
page_urls=[]
next_button_url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")[:3]
for i in next_button_url:
    page_urls.append(i.get_attribute('href'))

In [91]:
# fetching brand names
Brand_names=[]
for link in page_urls:
    driver.get(link)
    try:
        Brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for brand in Brand_name:
            Brand_names.append(brand.text)
    except:
        Brand_names.append('----')

In [92]:
# fetching description
product_discription=[]
for link in page_urls:
    driver.get(link)
    try:
        prod_disc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for prod in prod_disc:
            product_discription.append(prod.text)
    except:
        product_discription.append('----')

In [93]:
# fetching price
Brand_prices=[]
for link in page_urls:
    driver.get(link)
    try:
        Brand_price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for price in Brand_price:
            Brand_prices.append(price.text)
    except:
        Brand_prices.append('--')

In [94]:
# fetching discount
Discount_price=[]
for link in page_urls:
    driver.get(link)
    try:
        Discount =driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")        
        for disc in Discount:
            Discount_price.append(disc.text)
    except:
        Discount_price.append('---')

In [95]:
# Creating dataframe
glasses = pd.DataFrame({})
glasses['Brand']=Brand_names[0:100]
glasses['Discription']=product_discription[0:100]
glasses['Discount %']=Discount_price[0:100]
glasses['Price']=Brand_prices[0:100]

In [96]:
glasses

,Brand,Discription,Discount %,Price
0,ROYAL SON,Polarized Retro Square Sunglasses (58),57% off,₹854
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",66% off,₹664
2,Elligator,UV Protection Round Sunglasses (54),86% off,₹329
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",88% off,₹198
4,PIRASO,UV Protection Aviator Sunglasses (54),84% off,₹250
...,...,...,...,...
95,ROYAL SON,UV Protection Aviator Sunglasses (58),86% off,₹664
96,PIRASO,UV Protection Retro Square Sunglasses (Free Size),18% off,₹219
97,Fastrack,UV Protection Retro Square Sunglasses (88),80% off,"₹1,059"
98,Fravy,"UV Protection, Gradient Wayfarer Sunglasses (55)",85% off,₹299
99,GANSTA,"Polarized, UV Protection Round Sunglasses (49)",79% off,₹295

<h3>Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.</h3>

In [32]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [33]:
#get the url
url ='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [34]:
# clicking on review all 
click_on_review_all = driver.find_elements_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
click_on_review_all[0].click()

In [35]:
# extracting all page urls
All_page_urls=[]
Next_link_urls= driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')
for i in Next_link_urls:
    All_page_urls.append(i.get_attribute('href'))

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [53]:
# Fetching phone ratings
PHONE_RATING=[]
for i in All_page_urls:
    driver.get(i)
    try:
        Phone_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for j in Phone_rating:
            PHONE_RATING.append(j.text)
    except:
        PHONE_RATING.append('--')

In [56]:
# Fetching Review summary
REVIEW_SUMMARY=[]
for i in All_page_urls:
    driver.get(i)
    try:
        Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for j in Review_summary:
            REVIEW_SUMMARY.append(j.text)
    except:
        REVIEW_SUMMARY.append('--')

In [59]:
# Fetching full review
FULL_REVIEW=[]
for i in All_page_urls:
    driver.get(i)
    try:
        Full_Review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
        for j in Full_Review:
            FULL_REVIEW.append(j.text)
    except:
        FULL_REVIEW.append('--')

In [62]:
# creating Dataframe
Iphone_review = pd.DataFrame({})
Iphone_review['Phone Rating']=PHONE_RATING[0:100]
Iphone_review['Review Summary']=REVIEW_SUMMARY[0:100]
Iphone_review['Full Summary']=FULL_REVIEW[0:100]

In [63]:
Iphone_review

,Phone Rating,Review Summary,Full Summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,3,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

<h3>Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker : 1. Brand 2. Product Description 3. Price 4. discount %</h3>

In [64]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [65]:
#get the url
url ='https://www.flipkart.com/'
driver.get(url)

In [66]:
# click on cross button on login page
cross_login_button = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
cross_login_button.click()

In [67]:
# sending input 'Sneakers' on search bar
search_option = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_option.send_keys('sneakers')

In [68]:
# clicking on search button
search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [69]:
# page urls
page_urls=[]
next_button_url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")[:3]
for i in next_button_url:
    page_urls.append(i.get_attribute('href'))
page_urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [73]:
# fetching brand name
Brand_names=[]
for link in page_urls:
    driver.get(link)
    try:
        Brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for brand in Brand_name:
            Brand_names.append(brand.text)
    except:
        Brand_names.append('----')

In [75]:
# fetching description
product_discription=[]
for link in page_urls:
    driver.get(link)
    try:
        prod_disc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for prod in prod_disc:
            product_discription.append(prod.text)
    except:
        product_discription.append('----')

In [77]:
# fetching price
Brand_prices=[]
for link in page_urls:
    driver.get(link)
    try:
        Brand_price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for price in Brand_price:
            Brand_prices.append(price.text)
    except:
        Brand_prices.append('--')

In [79]:
# fetching Discount
Discount_price=[]
for link in page_urls:
    driver.get(link)
    try:
        Discount =driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")        
        for disc in Discount:
            Discount_price.append(disc.text)
    except:
        Discount_price.append('---')

In [81]:
# Creating dataframe
sneakers = pd.DataFrame({})
sneakers['Brand']=Brand_names[0:100]
sneakers['Discription']=product_discription[0:100]
sneakers['Discount %']=Discount_price[0:100]
sneakers['Price']=Brand_prices[0:100]

In [82]:
sneakers

,Brand,Discription,Discount %,Price
0,Echor,Mens Walking Running Shoes - Lightweight Breat...,60% off,₹399
1,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,76% off,₹474
2,Longwalk,Men Boxer Sneakers For Men,55% off,₹221
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,62% off,₹599
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,75% off,₹499
...,...,...,...,...
95,Chevit,Casual Sneakers Sneakers For Men,76% off,₹474
96,D-SNEAKERZ,Puma Kor IDP Sneakers For Men,65% off,₹346
97,Chevit,Raptor Sneakers For Men,52% off,₹473
98,SPARX,Modern & Trendy Collection Combo Pack of 02 Sh...,15% off,₹630
99,ESSENCE,JFWBENNY KNIT SLIP ON Sneakers For Men,50% off,₹499

<h3>Q9: Go to the link - https://www.myntra.com/shoes  Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below imag</h3>

In [174]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [175]:
#get the url
url ='https://www.myntra.com/shoes'
driver.get(url)

In [176]:
#clicking price filter by coping full xpath
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]')
price_filter.click()

In [177]:
#clicking colour filter by coping full xpath
colour_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
colour_filter.click()

In [178]:
# fetching page urls

All_pages_urls=[]
Next_1stpage_links = driver.find_elements_by_xpath('//li[@class="pagination-active"]/a')
for i in Next_1stpage_links:
    All_pages_urls.append(i.get_attribute('href'))
    
Next_page_links = driver.find_elements_by_xpath('//li[@class="pagination-number"]/a')
for i in Next_page_links:
    All_pages_urls.append(i.get_attribute('href'))

In [248]:
# fetching laptop brand names
BRAND=[]
for link in All_pages_urls[0:2]:
    driver.get(link)
    try:
        Shoe_brand_name = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for name in Shoe_brand_name:
            BRAND.append(name.text)
    except:
        BRAND.append("------")

In [240]:
# fetching full description
Desc=[]
for link in All_pages_urls[0:2]:
    driver.get(link)
    try:
        Shoe_Description = driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for name in Shoe_Description:
            Desc.append(name.text)
    except:
        Desc.append("------")

In [243]:
# fetching price
PRICE=[]
for link in All_pages_urls[0:2]:
    driver.get(link)
    try:
        Price = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
        for name in Price:
            PRICE.append(name.text)
    except:
        PRICE.append("------")

In [250]:
# Creating dataframe
Myntra = pd.DataFrame({})
Myntra["Brand"]=BRAND
Myntra["Description"]=Desc
Myntra["price"]=PRICE

In [251]:
Myntra

    Brand                       Description              price
0    ALDO                      Men Sneakers           Rs. 9999
1    Nike    Men Air Zoom Structure Running          Rs. 10295
2    ALDO                 Men Driving Shoes          Rs. 11999
3    Geox    Men Cell Fraction Fade Running           Rs. 6999
4    Puma         Mesh Hybrid Fuego Running           Rs. 6999
..    ...                               ...                ...
95   ALDO      Textured Slim Heeled Sandals          Rs. 10999
96   Geox         Men Leather Driving Shoes           Rs. 9999
97   Geox                Men Solid Sneakers          Rs. 11999
98   Geox         Men Leather Formal Derbys  Rs. 8094Rs. 13490
99  Ruosh  Men Solid Leather Formal Oxfords          Rs. 11490

[100 rows x 3 columns]

<h3>Q10:  Go to webpage https://www.amazon.in/    Enter “Laptop” in the search field and then click the search icon.   Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: </h3>

In [4]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [7]:
#get the url
url = 'https://www.amazon.in/'
driver.get(url)

In [8]:
# sending input 'Laptop' in search bar
search_space = driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_space.send_keys('Laptop')

In [11]:
# clicking on search button
search_button= driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_button.click()

In [12]:
# click on intel core 7 filter check box
Intel_i7_filter = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
Intel_i7_filter.click()

In [13]:
# click on intel core 9 filter check box
Intel_i9_filter = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
Intel_i9_filter.click()

In [105]:
# fetching laptop names
laptop=[]
laptop_title=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_title:
    laptop.append(i.text)
    
# fetching price    
PRICE=[]
Price =driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in Price:
    PRICE.append(i.text)    
    
# fetching rating    
RATING=[]
Rating = driver.find_elements_by_class_name("a-icon-alt")
for i in Rating:
    RATING.append(i.get_attribute('textContent'))

In [107]:
# Creating dataframe
Laptop = pd.DataFrame({})
Laptop["Brand"]=laptop[0:10]
Laptop["Rating"]=RATING[0:10]
Laptop["price"]=PRICE[0:10]
Laptop

,Brand,Rating,price
0,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.5 out of 5 stars,"1,12,990"
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5 stars,"1,23,800"
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5 stars,"77,990"
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"57,490"
4,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.5 out of 5 stars,"1,12,990"
5,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,4.3 out of 5 stars,"80,480"
6,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,4.4 out of 5 stars,"73,990"
7,Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...,4.4 out of 5 stars,"1,19,499"
8,ASUS ZenBook 13 OLED (2021) Intel Core i7-1165...,4.0 out of 5 stars,"1,01,910"
9,(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (...,3.7 out of 5 stars,"52,999"